<footer>
  <div class="footer-boton">
    <p>copyright &copy;2022. todos los derechos reservados <span>Sebastian Perez</span></p>
  </div>
  <div class="footer-contenedor">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
  </div>

</footer>

<script src="https://kit.fontawesome.com/300bd3eb4a.js" crossorigin="anonymous"></script>
<script src="/js/hamburger.js"></script>
<script src="/js/place.js"></script>
</body>

</html>